<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Netstarter. All rights reserved.
 *
 * @category    CameraHouse
 * @package     CameraHouse_Blog
 * @author      Netstarter Team <contact@netstarter.com>
 * @copyright   Copyright (c) 2015 Netstarter Pty Ltd. (http://www.netstarter.com.au)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="camerahouse" translate="label" sortOrder="600">
            <label>CameraHouse</label>
        </tab>
        <section id="camerahouse_blog" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Blog Feed</label>
            <tab>camerahouse</tab>
            <resource>CameraHouse_Blog::settings</resource>
            <group id="settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Blog Feed Settings</label>
                <field id="config_feed_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Blog Feed Url</label>
                </field>
                <field id="config_blog_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Blog Url (View more)</label>
                </field>
            </group>
        </section>
    </system>
</config>